<!doctype html>
<html>
<head>
    <title>Extracted Files</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="upload-title text-center my-5">Extracted Files</h1>
        <ul class="list-group">
            {% for link, file_name in file_links %}
            <li class="list-group-item">
                {% if file_name.endswith('/') %}
                    <!-- This is a directory -->
                    <i class="fas fa-folder"></i>
                {% else %}
                    <!-- This is a file -->
                    <i class="fas fa-file"></i>
                {% endif %}
                <a href="{{ link }}">{{ file_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/background.js"></script>
</body>
</html>