
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#defaultCanvas0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 2;
}
.upload-title {
    color: #fff;  
}